/* style sheet for About page */
*{
    margin: 1%;
    font-family: sans-serif;
    font-size: 40px;
    background-image: url(/background.jpeg);
    color: papayawhip;
    color: black;
}

.heading{
    font-family: 'Times New Roman';
    text-align:center;
    

}

.buttn{
    width: 200px;
    height: 60px;
    background:black;
    border:3px;
    color: white;
    font-size: 20px;
    border-bottom-right-radius: 5px;
    border-radius: 10px;
    
}

.button{
        width: 200px;
        height: 60px;
        background:black;
        border:3px;
        color: white;
        font-size: 20px;
        border-bottom-right-radius: 5px;
        border-radius: 10px;
    
}
.buttn:hover{
    color:red;
  
}
.button:hover{
    color:red;
}

